# Aktiviert die Rewrite-Engine
RewriteEngine On

# Basis für relative URLs setzen
RewriteBase /join/

# Weiterleitung von nicht existierenden Dateien/Ordnern zur index.html
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.html [L]

# Optional: HTTPS erzwingen
RewriteCond %{HTTPS} !=on
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
